Panel {
   borderColor: #003399;
   borderThickness: 2;
   borderThicknessLeft: 1;
   borderThicknessTop: 0;
   borderThicknessBottom: 2;
   borderThicknessRight: 1;
   roundedBottomCorners: true;
   headerHeight: 20;
   backgroundAlpha: 1;
   titleStyleName: "mypanelTitle";
}

TabNavigator {
   cornerRadius: 0;
   tabHeight: 20;
   horizontalGap: 2;
   borderThickness: 0;
      borderColor: #003399;
   borderThicknessLeft: 1;
   borderThicknessTop: 0;
   borderThicknessBottom: 2;
   borderThicknessRight: 1;
   dropShadowEnabled : true;
   color: #000000;
   headerHeight:20;
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
   
}

.myTabs {
   backgroundColor: #003399;
   borderColor: #003399;
   borderThicknessLeft: 1;
   borderThicknessTop: 0;
   borderThicknessBottom: 2;
   borderThicknessRight: 1;
   color: #000000;
   textAlign: left;
   fontWeight: bold;
   backgroundAlpha: 0.42;
   textRollOverColor: #000000;
   
}

.mySelectedTabs {
   backgroundColor: #003399;
   borderColor: #003399;
   borderThicknessLeft: 1;
   borderThicknessTop: 0;
   borderThicknessBottom: 2;
   borderThicknessRight: 1;
   color: #ffffff;
   textAlign: left;
   fontWeight: bold;
   backgroundAlpha: 0.42;
   textRollOverColor: #ffffff;
}

.mypanelTitle {
   color: #ffffff;
   textAlign: left;
   fontWeight: bold;
}

TextInput {
   borderStyle: solid;
   dropShadowEnabled: false;
   borderColor: #cccccc;
}
DataGrid {
   headerColors: #cccccc, #ffffff;
   horizontalGridLines: false;
   horizontalGridLineColor: #0033ff;
   alternatingItemColors: #ffffff, #ffffff;
   verticalGridLines: false;
   useRollOver: false;
   borderThickness: 0;
   dropShadowEnabled: true;
   headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   fontSize: 11;
}